 <script>
     function showalert(){
 alert("Hi this is alert message");
}
if(confirm("Are you sure")){
    document.write('you click ok');

}else{
    document.write('You click cancel');
}
 
 </script>
 <button onclick="showalert()">click</button>
 <button onclick="checkuser();">Google</button>