 <script>
     function showalert(){
 alert("Hi this is alert message");
}
function checkuser(){
    if(confirm('Are you sure?')){
        window.location="https://www.google.com";

    }else{
        alert('you click cancel');
    }
}
 
 
 </script>
 <button onclick="showalert()">click</button>
 <button onclick="checkuser();">Google</button>