 <script>
 var a=1;
 var inter='';
 function counter(){
  
     document.getElementById('result').innerHTML=a;
     a++;
 }
 function start(){
     clearInterval(inter);
     inter=setInterval(counter,100);

 }
 function stop(){
     clearInterval(inter);
 }
 function reset(){
     a=0;
     clearInterval(inter);
     document.getElementById('result').innerHTML=a;
 }
  
 </script>
 <div id="result"></div>
 <button onclick="start();">start</button>
 <button onclick="stop();">stop</button>
 <button onclick="reset();">Reset</button>